.item-container {
  max-width: 400px;
  margin-top: 5px;
}

.item-description {
  color: gray;
  font-size: 14px;
}

i:hover {
  cursor: pointer;
}

.item-image {
  margin-top: 10px;
  height: 200px;
  width: auto;
  display: block;
}