.example-card {
  max-width: 400px;
  margin-bottom: 10px;
}

.example-header-image {
  background-size: cover;
}

.item-image {
  height: 200px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
