<form *ngIf="item" [formGroup]="itemForm" (ngSubmit)="onSubmit()" class="app-form">
  <mat-form-field class="app-ctrl-full-width">
    <input matInput placeholder="Name" formControlName="name" width="100%">
  </mat-form-field>
  <mat-form-field class="app-ctrl-full-width">
    <textarea matInput placeholder="Description" formControlName="description" width="100%" rows="4"></textarea>
  </mat-form-field>
  <br />
  <a *ngIf="(imgUrl | async) && !isUploading" (click)="selectFile()">
    <img [src]="imgUrl | async" class="item-image">
  </a>
  <a *ngIf="!(imgUrl | async) && !isUploading" (click)="selectFile()">
    <div>
      <mat-icon>add_photo_alternate</mat-icon><span style="display: inline-block; vertical-align: top; margin: 10px 0 0 15px">Upload Photo</span>
    </div>
  </a>
  <div *ngIf="isUploading" style="display: flex; justify-content: center; margin: 30px 0 30px 0">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="uploadError">
    <p style="color: red">Woops. There was an error attempting to upload your pic...</p>
    <p style="color: red; font-style: italic">{{ uploadError }}</p>
  </div>
  <br />
  <div class="row">
    <button type="submit" [disabled]="!itemForm.valid" mat-raised-button color="primary">Save</button>
  </div>
  <br />
</form>
