<mat-card class="example-card" (click)="showDetail.emit(item)" matRipple matRippleCentered="true">
  <mat-card-header>
    <img mat-card-avatar [src]="mediaService.getProfileImageUrl(owner._id, owner.avatarUrl) | async">
    <mat-card-title>{{ item.name }}</mat-card-title>
    <mat-card-subtitle>{{ item.description }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="mediaService.getItemImageUrl(item.picUrl) | async" class="item-image">
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
